<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game_review.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game_review.game_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @game_review.review %>
</p>

<%= link_to 'Edit', edit_game_review_path(@game_review) %> |
<%= link_to 'Back', game_reviews_path %>
